<ion-view style="" title="Task register">
    <ion-content class="has-header" padding="'true'">
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Title</span>
                <input placeholder="" type="text">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Description</span>
                <input placeholder="" type="text">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Due date</span>
                <input placeholder="" type="date">
            </label>
        </form>
        <button style="" class="button button-stable button-block ">Save</button>
    </ion-content>
</ion-view>